
*.idx3-ubyte
PlateRecognition/data/exports/AM03500.jpg
PlateRecognition/data/plates/AA.jpg
PlateRecognition/data/plates/AB.png
PlateRecognition/data/plates/AF.jpg
PlateRecognition/data/plates/AF12.jpg
PlateRecognition/data/plates/AK.jpg
PlateRecognition/data/plates/AM.jpg
PlateRecognition/data/plates/AR.jpg
PlateRecognition/data/plates/BS.jpg
PlateRecognition/data/plates/CU.jpg
PlateRecognition/data/plates/FB.jpg
PlateRecognition/data/plates/LT.jpg
PlateRecognition/data/plates/YS.jpg
